.container {
	padding: 5rem;
}

.cover {
	display: flex;
	flex-direction: row;
	max-width: 114rem;
	margin: 0 auto;
	padding: 5rem;
	border-radius: 0.5rem;
	background-color: rgba(255,36,0,0.6);
	opacity: 0.8;
}

.cover img {
	width: 31rem;
	height: 31rem;
	filter: grayscale(100%);
	border-radius: 50%;
	box-shadow: 0.2rem 0.3rem 9px var(--mainBlack);
}

.cover .content {
	margin-left: 3rem;
}

.cover .content h2 {
	color: var(--mainBlack);
	display: inline-block;
	padding: 1.5rem;
	font-size: 2rem;
	font-weight: 140%;
	margin-bottom: 2rem;
	transition: color 0.5s, background-color 0.5s;
	text-transform: uppercase;
	background-color: rgba(255,255,255,0.9);
	opacity: 0.9;
	border-radius: 0.5rem;
	text-shadow: 0 0 6px var(--mainBlack);
}

.cover .content h2:hover {
	color: var(--mainWhite);
	background-color: var(--mainBlack);
}

.cover .content p {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 400;
	color: var(--mainWhite);
	max-width: 70rem;
	text-align: justify;
	text-indent: 2rem;
	word-spacing: 0;
	letter-spacing: 0;
}

@media screen and (max-width: 950px) {
	.cover {
		flex-direction: column;
	}
	.cover img {
		width: 27rem;
		height: 27rem;
		margin: 0 auto;
	}
	.cover .content {
		margin-left: 0;
	}
	.cover .content h2 {
		margin: 3rem auto;
		text-align: center;
		display: block;
	}
	.cover .content p {
		max-width: 100%;
	}
}

@media screen and (max-width: 700px) {
	.cover img {
		width: 20rem;
		height: 20rem;
	}
	.cover .content h2 {
		font-size: 1.5rem;
		padding: 1.2rem;
	}
	.cover .content p {
		font-size: 1.1rem;
	}
}

@media screen and (max-width: 430px) {
	.cover img {
		width: 10rem;
		height: 10rem;
	}
	.cover .content h2 {
		font-size: 1rem;
		padding: 1rem;
		max-width: 100%;
	}
	.cover .content p {
		font-size: 0.9rem;
	}
}