:root {
	--mainBlack: rgb(0,0,0);
	--mainRed: rgb(255,36,0);
	--mainWhite: rgb(255,255,255);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	font-family: 'Playfair Display', serif;
	font-size: 10px;
	letter-spacing: 2px;
	word-spacing: 1px;
	background-color: var(--mainBlack);
}